<div style="text-align: center; margin-top: 50px;">
  <h1>Bienvenue Sur Licoris</h1>
  <p>Votre application de gestion simplifiée et puissante.</p>
  <img src="/welcome.PNG" alt="Bienvenue chez Residence Licoris" style="margin-top: 30px;">
</div>
