<div style="display: flex; justify-content: center; background-color: #D7F0F0">

  <div style="text-align: center; margin-top: 10px">
    <h1 style="text-transform: capitalize; padding-bottom: 20px">Bienvenue sur lycoris</h1>
    <p>Votre application de gestion simplifiée et puissante.</p>
    <img src="/welcCopie.PNG" alt="Bienvenue chez Residence Licoris" style="margin-top: 30px; ">
  </div>

  <!--  <img src="/welcome.PNG" alt="Bienvenue chez Residence Licoris" style="margin-top: 30px; ">-->

</div>
